<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lulian.Zaiyunbao">

    <!-- Required -->
    <permission
        android:name="com.lulian.Zaiyunbao.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.lulian.Zaiyunbao.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".SophixStubApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.WeclcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 微信支付结果展示Activity -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>


        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.PermissionsActivity" />
        <activity android:name=".ui.activity.DressSelectorActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.Updae_pwd_Activity" />

        <activity android:name=".ui.activity.UploadDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".ui.activity.ProtocolActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.Forget_Password_Activity" />
        <activity android:name=".ui.activity.Setting_Password_Activity" />
        <activity android:name=".ui.activity.Register_One_Activity" />
        <activity android:name=".ui.activity.Register_Tthree_Activity" />
        <activity android:name=".ui.activity.MessagesListActivity" />
        <activity android:name=".ui.activity.Update_Phone_One_Activity" />
        <activity android:name=".ui.activity.Update_Phone_Two_Activity" />
        <activity android:name=".ui.activity.Update_Phone_Three_Activity" />
        <activity android:name=".ui.activity.MyDataActivity" />
        <activity android:name=".ui.activity.HelpFeedbackActivity" />
        <activity android:name=".ui.activity.DataUserTypeActivity" />
        <activity android:name=".ui.activity.wallet.MyWalletActivity" />
        <activity android:name=".ui.activity.ResetPaypwdActivity" />
        <activity android:name=".ui.activity.Update_Paypwd_Activity" />
        <activity android:name=".ui.activity.LeaseDetailActivity" />
        <activity android:name=".ui.activity.LeaseEquipmentDetailActivity" />
        <activity android:name=".ui.activity.LeaseMyEquipmentActivity" />
        <activity android:name=".ui.activity.LeasePriceFormActivity" />
        <activity android:name=".ui.activity.LeaseMyEquipmentSeeActivity" />
        <activity android:name=".ui.activity.LeaseMyEquipmentAddressActivity" />
        <activity android:name=".ui.activity.MyOrderActivity" />
        <activity android:name=".ui.activity.myorder.MyOrderDetailsActivity" />
        <activity android:name=".ui.activity.leaseorder.LeaseOrderActivity" />
        <activity android:name=".ui.activity.subleaseorder.SubleaseOrderActivity" />
        <activity android:name=".ui.activity.SubleaseOrderDetailsActivity" />
        <activity android:name=".ui.activity.buyorder.BuyOrderActivity" />
        <activity android:name=".ui.activity.leaseorder.ReceiveLeaseInfoActivity" />
        <activity android:name=".ui.activity.ReserveRetireDetailsActivity" />
        <activity android:name=".ui.activity.subleaseorder.SubleaseOrderEntryActivity" />
        <activity android:name=".ui.activity.subleaseorder.SubleaseOrderAddEntryActivity" />
        <activity android:name=".ui.activity.subleaseorder.SubleaseDeliveryActivity" />
        <activity android:name=".ui.activity.leaseorder.LeaseOrderDetailsActivity" />
        <activity android:name=".ui.activity.service.RetireConfirmActivity" />
        <activity android:name=".ui.activity.service.RetireCreateActivity" />
        <activity android:name=".ui.activity.service.RetireServiceSiteActivity" />
        <activity android:name=".ui.activity.service.RetireServiceSiteSearchActivity" />
        <activity android:name=".ui.activity.service.RetireServiceLeaseActivity" />
        <activity android:name=".ui.activity.devicemanage.DeviceManageActivity" />
        <activity android:name=".ui.activity.devicemanage.DeviceManageDetailsActivity" />
        <activity android:name=".ui.activity.issueSublease.IssueSubleaseListActivity" />
        <activity android:name=".ui.activity.issueSublease.IssueSubleaseDetailActivity" />
        <activity android:name=".ui.activity.issueSublease.ListingIssueActivity" />
        <activity android:name=".ui.activity.pay.PayActivity" />
        <activity android:name=".ui.activity.rentback.RentBackActivity" />
        <activity android:name=".ui.activity.rentback.RentBackEntryActivity" />
        <activity android:name=".ui.activity.rentback.RentBackAddEntryActivity" />
        <activity android:name=".ui.activity.BuyDetailActivity" />
        <activity android:name=".ui.activity.BuyEquipmentDetailActivity" />
        <activity android:name=".ui.activity.BuyMyEquipmentActivity" />
        <activity android:name=".ui.activity.BuyPolicyActivity" />
        <activity android:name=".ui.activity.BuyEquipmentConfirmActivity" />
        <activity android:name=".ui.activity.buyorder.BuyOrderDetailsActivity" />
        <activity android:name=".ui.activity.buyorder.BuyOrderInfoActivity" />
        <activity android:name=".ui.activity.seekrentorder.SeekRentOrderActivity" />
        <activity android:name=".ui.activity.seekrentorder.SeekRentOrderDetailsActivity" />
        <activity android:name=".ui.activity.seekrentorder.ReceiveSeekRentInfoActivity" />
        <activity android:name=".ui.activity.repair.RepairReportActivity" />
        <activity android:name=".ui.activity.pay.WalletChargeResultActivity" />
        <activity android:name=".ui.activity.Register_Two_Activity" />
        <activity android:name=".ui.activity.issueSublease.PointIssueActivity" />
        <activity android:name=".ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.Wallet_Detail_ListActivity" />
        <activity android:name=".ui.activity.wallet.WalletRechargeActivity" />
        <activity android:name=".ui.activity.pay.WalletChargeFailActivity" />
        <activity android:name=".ui.activity.HelpActivity" />
        <activity android:name=".ui.activity.HelpDetailActivity" />
        <activity android:name=".ui.activity.bank.BankCardActivity" />
        <activity android:name=".ui.activity.bank.BankAddActivity" />
        <activity android:name=".ui.activity.bank.BankAddTestActivity" />
        <activity android:name=".ui.activity.bank.BankDetailActivity" />
        <activity android:name=".ui.activity.bank.BankDeleteActivity" />
        <activity android:name=".ui.activity.bank.CashBankMoneyActivity" />
        <activity android:name=".ui.activity.repair.RepairOrderActivity" />
        <activity android:name=".ui.activity.repair.RepairOrderDetailActivity" />
        <activity android:name=".ui.activity.repair.RepairItemDetailActivity" />
        <activity android:name=".ui.activity.service.RetireServiceMapActivity" />
        <activity android:name=".ui.activity.App_Statistic_Activity" />

        <!--<provider-->
        <!--android:authorities="com.lulian.Zaiyunbao.fileProvider"-->
        <!--tools:replace="android:authorities"-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:grantUriPermissions="true"-->
        <!--android:exported="false">-->
        <!--<meta-data-->
            <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
            <!--android:resource="@file_path1aths"></meta-data>-->
    <!--</provider>-->
        <provider
            android:name=".ui.photoview.CustomFileProvider"
            android:authorities="com.lulian.Zaiyunbao.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path1" />
        </provider>


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="OyG6BR75xmoCPiyg9QUd7BslODC8BPMG"></meta-data>


        <!--极光推送 -->

        <!-- Testtest only 测试高级功能 -->
        <!--<activity android:name="com.lulian.Zaiyunbao.PushSetActivity" android:label="@string/app_name"></activity>-->
        <!--&lt;!&ndash; Testtest only 测试设置 &ndash;&gt;-->
        <!--<activity android:name="com.lulian.Zaiyunbao.SettingActivity" android:label="@string/app_name"></activity>-->
        <!-- Testtest only 测试状态通知栏，需要打开的Activity -->
        <activity android:name=".jg.TestActivity" android:exported="false">
            <intent-filter>
                <action android:name="jpush.testAction" />
                <category android:name="jpush.testCategory" />
            </intent-filter>
        </activity>

        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false">
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lulian.Zaiyunbao" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.wallet.CashRechargeActivity" />
        <activity android:name=".ui.activity.UserAgreementActivity" />
        <activity android:name=".ui.activity.wallet.CashRechargeResultActivity" />
        <activity android:name=".ui.activity.Wallet_Details_Activity" />
        <activity android:name=".ui.activity.rentback.RentOrderDetailsActivity" />

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":pushcore"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="com.lulian.Zaiyunbao.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:process=":pushcore"
            android:exported="false"
            />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.lulian.Zaiyunbao" />
            </intent-filter>

        </service>
        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="com.lulian.Zaiyunbao.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"
            />
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.lulian.Zaiyunbao" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!-- User defined.  Testtest only  用户自定义的广播接收器-->
        <receiver
            android:name=".jg.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.lulian.Zaiyunbao" />
            </intent-filter>
        </receiver>

        <!-- User defined.  Testtest only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <receiver android:name="com.lulian.Zaiyunbao.jg.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.lulian.Zaiyunbao"></category>
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="4077d94799987deb4ce16f48" /> <!--  </>值来自开发者平台取得的AppKey-->


    </application>
</manifest>